<ng-container *ngIf="mode$ | async as mode">
    <div class="tui-container tui-container_fullwidth" >
        <div class="tui-row tui-row_adaptive">
            <div class="tui-col_lg-12 tui-col_md-12 tui-col_xs-12 info">
                <div class="switch">
                    <button tuiButton size="s" (click)="toggle('scheme')" [appearance]="mode == 'scheme' ? 'primary' : 'flat'">Мнемосхема</button>
                    <button tuiButton size="s" (click)="toggle('graph')" [appearance]="mode == 'graph' ? 'primary' : 'flat'">График</button>
                </div>
            </div>
        </div>
    </div>
    <div class="tui-container tui-container_fullwidth infoContainer" >
        <div class="tui-row tui-row_adaptive header">
            <div class="tui-col_lg-12 tui-col_md-12 tui-col_xs-12 " >
                <div class="content">
                    <button class="icon" [disabled]="true" tuiIconButton [icon]="'tuiIconFileTextLarge'" size="s"></button>
                    <span *ngIf="name$ | async as name">
                        Эксгаустер {{name}}
                    </span>
                    <button class="saveExcel" appearance="outline" tuiButton size="s" *ngIf="mode == 'graph'">Сохранить в Excel</button>
                </div>
            </div>
        </div>
        <ng-container >
            <scheme *ngIf="mode == 'scheme'"></scheme>
            <graph *ngIf="mode == 'graph'"></graph>
        </ng-container>
    </div>
</ng-container>